<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/tablestyle.css'%}">
</head>
<body>

    
   <div class="container"> 
    <h1>Manage Parking Spot</h1>
 <table border="1" >

        <tr class="head">
            <th>Parking Area Name</th>
            <th>Resort Name</th>
            <th>Place</th>
            <th>Phone</th>
            <th>Email</th>
            <th>View Image</th>
            <th>Type</th>
            <th>Action</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <th></th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>
</body>
</html>