{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/tablestyle.css'%}">
</head>
<body>

    
   <div class="container"> 
    <h1>Manage Parking Spot</h1>
 <table border="1" >

        <tr class="head">
            <th>Parking Area Name</th>
            <th>Type</th>
            <th>Status</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Phone</th>
            <th>Action</th>
           
        </tr>
        {%for i in val%}
        <tr>
            <td>{{i.AreaName}}</td>
            <td>{{i.NoParking}}</td>
            <td>{{i.Status}}</td>
            <td>{{i.Latitude}}</td>
            <td>{{i.Longitude}}</td>
            <td>{{i.Phone}}</td>
            <td><a href="/deletepark/{{i.id}}/" onclick="return confirm('Are You sure you want to delete')">Delete</a></td>

            
        </tr>
        {%endfor%}
    </table>
</div>
</body>
</html>